<br/>
<div class="jumbotron text-center" align="center">
  <div class="row">
    <h1>Schedule Master</h1>
  </div>
  <div class="row">
    <img src="modules/core/client/img/thompson.jpg" style="width:400pt;" alt="Thompson Hall"/>
  </div>
  <div class="row">
    <p class="lead">A new SAAS for scheduling your CS classes at UPS.</p>
  </div>
</div>
<div>
  <h2>Welcome to Schedule Master</h2>
  <p>This application was designed by UPS students, for UPS students. Knowing the needs of our peers helps drive our development.</p>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Find My Class</h2>
    <p>When you have no idea where your class is, we can show you!</p>
  </div>
  <div class="col-md-6">
    <h2>Schedules</h2>
    <p>Create your schedules, find your classes!</p>
  </div>
<!--
  <div class="col-md-3">
    <h2>Classrooms</h2>
    <p>This will be a google maps box where you can find the actual location of your classrooms.</p>
  </div>
-->
<!--
  <div class="col-md-3">
    <h2>Help</h2>
    <p>This is where you can gain access to instructions should you run into problems with your individual schedule.</p>
  </div>
-->
<!--
  <div class="col-md-3">
    <h2><strong>C</strong>ontact Us</h2>
    <p>This is where you can contact us as to the brilliance behind this project.</p>
  </div>
-->
</div>
<div class="well">
  <h2>About Us</h2>
  <p>
    <code>!Java</code> is a team of software developers creating <code>SAAS</code> applications using the <code>MEAN</code> stack.
  </p>
</div>
<p class="lead">A <code>!Java</code> Product</p>
